[Unit]
Description = my_init
After=local-fs.target
ConditionPathExists=/home/k3104is/workspace/setup_ws/systemd_ws

[Service]
ExecStart=/home/k3104is/workspace/setup_ws/systemd_ws/my_init.sh
Restart=no
Type=simple

[Install]
WantedBy=multi-user.target
