[Unit]
Description = my init
After=local-fs.target
ConditionPathExists=/home/rpi4/workspace/setup_ws/systemd_ws/

[Service]
ExecStart=/home/rpi4/workspace/setup_ws/systemd_ws/my_init.sh
Restart=no
Type=simple

[Install]
WantedBy=multi-user.target